.main {
height: 100vh;
    background: url("./camomile.jpg");
  /* background: url('./green-grass-summer-gazon-fon-trava-zelenaia.jpeg'); */
    background-position: center;
    background-size: cover; 
    
    background-repeat: no-repeat;
    
}

.result--hidden {
 
    display: block;
    /* position: absolute; */
    opacity: 0;
 
}



 .table-hidden {
    display: none;
    opacity: 0;
     transition: opacity 3s ease-in-out;
 }

.result--visible {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 5%;
    left: 36%;
    font-size: 50px;
    color: rgb(216, 23, 23);
    opacity: 1;
     transition: opacity 3s ease-in-out;
}

.mole-img {
    width: 200px;
    height: auto;
}
#score-area {
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding-top: 10px;
   margin-bottom: 10px;
}

.score-area__btn--start {
    padding: 15px 30px;
    border: 1px solid;
    border-radius: 10px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.1);
    
}

.score {
    /* color: white; */
    color: black;
    font-size: 30px;
}

.level-form {
    padding: 2px 5px;
    border: 1px solid;
    border-radius: 10px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.1);
}

.game-area {
    display: block;
}
table {
    margin: 0 auto;
}

table:hover {
    cursor: pointer;
}

th {
    /* border: 2px solid yellow;  */
    /* border: 1px solid;  */
    
 }
 /* границы ячеек тела таблицы */
 td {
    /* border: 2px solid yellow;  */
    /* border: 1px solid;  */
    height: 50px;
    width: 50px;
 }

.field {
    /* background: blue; */
  background: black;
   opacity: 0.1;
}

 .missed {
    /* background: #fdd5b4;
    opacity: 0.8; */
    background: url(./dirt.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    
}

 .caught {
     /* background: #f3bb0a;
     opacity: 0.8; */
     background: url(./krrr.png);
    background-size: cover;
 }

 .js-mole-active {
     /* background: rgb(169, 169, 252);
     opacity: 1; */
     background: url(./mole3.png);
    background-size: cover;
    
 }
 
 